<% layout('layout') -%>
<!--THIS REPLACES THE PUG GOOGLE MAPS IMPLEMENTATION-->
<!-- FIXME: CSS STILL BROKEN, MAP DOES NOT USE FULL VERTICAL DISPLAY AREA-->
<p>
<h1>About</h1>
<h4>DTP - D*mn The Potholes</h4>
<p>
<h3>DTP is an application that captures pothole data from average users via their mobile devices. The DTP Android
    application uses sensor data to detect when a pothole or other road hazard is encountered while driving. The hit is
    displayed on the mobile device with a marker indicating severity of the bump.</h3>
</p>
<p>
<h3>The data registered is sent to a backend server where it can be viewed from this site. The collected data can be
    integrated with other systems.</h3>
</p>
<p>
<h3>Data can be correlated with data from other systems to enable maintenance efforts to make the most severe
    hazards a priority, and to assess the effectiveness of current repair methods.</h3>
</p>
<!--KEEP THIS FOR 311 INTEGRATED VERSION-->
<!--    <h3>DTP is an application that captures pothole data from average users. This data is crossed referenced with the Memphis 311 database to determine the location of current and past reported potholes. This data is meant to determine locations of current potholes, determine how long it takes to repair, how often a location gets potholes, and how long the repair holds.</h3>-->
<div id ="dtp-app-imgs">
    <figure>
        <img class="dtp-img" src="/img/dtp_mobile_1.jpg"
             alt="Hit Detector Main Map">
        <figcaption>Hit Detector Main Map</figcaption>
    </figure>
    <figure>
        <img class="dtp-img" src="/img/dtp_mobile_2.jpg"
             alt="Hit Detector App Settings">
        <figcaption>Hit Detector App Settings</figcaption>
    </figure>
</div>
