<% layout('layout') -%>
<!--THIS REPLACES THE PUG GOOGLE MAPS IMPLEMENTATION-->
<!-- FIXME: CSS STILL BROKEN, MAP DOES NOT USE FULL VERTICAL DISPLAY AREA-->
<div>
    <h1>About</h1>
    <h4>DTP - D*mn The Potholes</h4>
    <h3>DTPH (Down with the Potholes) is an application that captures pothole data from average users. This data is crossed referenced with the Memphis 311 database to determine the location of current and past reported potholes. This data is meant to determine locations of current potholes, determine how long it takes to repair, how often a location gets potholes, and how long the repair holds.</h3>
</div>