<% layout('layout') -%>
<!--THIS REPLACES THE PUG GOOGLE MAPS IMPLEMENTATION-->
<!-- FIXME: CSS STILL BROKEN, MAP DOES NOT USE FULL VERTICAL DISPLAY AREA-->
<h1>Closed Pothole Reports</h1>
<div id='map'></div>
<!--The entire content of this section comes from MapBox javascript-->
<!--TODO: Can I pull this out into separate file?-->
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoia3lhbmN5IiwiYSI6ImNqeDRuaGI2ZDBiank0NGtqZTRrb2VoaGQifQ.j1Ap9ucUmQy0_7FGOh8fVA';
    const map = new mapboxgl.Map({
        container: 'map',
        // TODO: Make it so we can flip between styles on the fly from main page
        // style: 'mapbox://styles/mapbox/dark-v10',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-89.9517577, 35.1480818], // FIXME: starting position should be based on user/browser location
        zoom: 9
    });

    map.on('load', function ()
    {
        console.log("Head " + '<%= title %>');
        map.addSource("potholes", {
            type: "geojson",
            data: {"type": "FeatureCollection", "features": [<%- pot_holes %>]},
            cluster: true,
            clusterMaxZoom: 14, // Max zoom to cluster points on
            clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
        });

        // Add highest level grouping (red)
        map.addLayer({
            id: "clusters",
            type: "circle",
            source: "potholes",
            filter: ["has", "point_count"],
            paint: {
                // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                // with three steps to implement three types of circles:
                //   * Blue, 20px circles when point count is less than 100
                //   * Yellow, 30px circles when point count is between 100 and 750
                //   * Pink, 40px circles when point count is greater than or equal to 750
                // TODO: Implement additional steps
                "circle-color": [
                    "step",
                    ["get", "point_count"],
                    "#51bbd6",
                    100,
                    "#f1f075",
                    500,
                    "#f28cb1"
                ],
                // 'circle-radius': [{
                //     'base': 1.75,
                //     'stops': [[12, 2], [22, 180]]
                // }
                // FIXME: Old version that works
                "circle-radius": [
                    "step",
                    ["get", "point_count"],
                    20,
                    100,
                    30,
                    500,
                    40
                ]
            }
        });

        //
        // TODO: Fix Blue circle scale
        map.addLayer({
            id: "cluster-count",
            type: "symbol",
            source: "potholes",
            filter: ["has", "point_count"],
            layout: {
                "text-field": "{point_count_abbreviated}", // The count of hits in the group circle
                "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
                "text-size": 12 // Text font for all numbers on cluster circles
            }
        });

        // The individual hit icon
        map.addLayer({
            id: "unclustered-point",
            type: "circle",
            source: "potholes",
            filter: ["!", ["has", "point_count"]],
            // FIXME Playing with colors. Clean this up
            paint: {
                // "circle-color": "#da1039",
                "circle-color": [
                    'match',
                    ['get', 'marker'],
                    0, '#dc143c',
                    60, '#ffd700',
                    240, '#4169e1',
                    /* other */ '#1ecc34'
                ],
                "circle-radius": 6
                // ,
                // "circle-stroke-width": .5,
                // "circle-stroke-color": "#fff"
            }
        });

        // inspect a cluster on click
        map.on('click', 'clusters', function (e)
        {
            const features = map.queryRenderedFeatures(e.point, {layers: ['clusters']});
            const clusterId = features[0].properties.cluster_id;
            map.getSource('potholes').getClusterExpansionZoom(clusterId, function (err, zoom)
            {
                if (err) {
                    return;
                }

                map.easeTo({
                    center: features[0].geometry.coordinates,
                    zoom: zoom
                });
            });
        });
        // Create a popup, but don't add it to the map yet.
        let popup = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });

        map.on('mouseenter', 'unclustered-point', function (e)
        {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            console.log(`
            Feature 0:
            ${e.features[0].properties.date}
            ${e.features[0].geometry.coordinates.slice()}
            `)
            const coordinates = e.features[0].geometry.coordinates.slice();
            const description = e.features[0].properties.date;
            const user = e.features[0].properties.userTag;
            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            // Populate the popup and set its coordinates
            // based on the feature found.
            //
            popup.setLngLat(coordinates)
                .setText(
                    `${description}
                     ${coordinates}
                     ${e.features[0].properties.x} ${e.features[0].properties.y} ${e.features[0].properties.z}
                     ${e.features[0].properties.lastx} ${e.features[0].properties.lasty} ${e.features[0].properties.lastz}
                     ${user}
                `)
                .addTo(map);
        });

        map.on('mouseleave', 'unclustered-point', function ()
        {
            map.getCanvas().style.cursor = '';
            popup.remove();
        });
        map.resize();
    });
    let cases = [{
        "geometry": {"type": "Point", "coordinates": [-89.95526899999999, 35.239524000000074]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-11T16:17:58.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.97875899999997, 35.21291100000008]},
        "type": "Feature",
        "properties": {
            "date": "2020-03-02T08:32:47.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-90.06947899999994, 35.037420000000054]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-21T14:58:37.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.85109499999999, 35.07857000000007]},
        "type": "Feature",
        "properties": {
            "date": "2019-12-31T11:24:16.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.76845149999997, 35.181771000000026]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-25T06:52:05.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.93120499999999, 35.03783500000003]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-28T15:41:11.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.84902799499997, 35.191127952000045]},
        "type": "Feature",
        "properties": {
            "date": "2020-01-16T13:13:35.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.93120499999999, 35.03783500000003]},
        "type": "Feature",
        "properties": {
            "date": "2020-01-17T11:02:48.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-90.04924999999997, 35.14976000000007]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-16T18:00:26.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-90.04924999999997, 35.14976000000007]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-24T14:26:20.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.92852099999999, 35.05155000000008]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-25T11:49:29.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.72803944699996, 35.19753300900004]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-27T15:51:30.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.94919849999997, 35.09615400000007]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-08T18:26:34.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.85720049999998, 35.039976000000024]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-19T14:34:43.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-89.94014899999996, 35.22670800000003]},
        "type": "Feature",
        "properties": {
            "date": "2020-01-29T13:39:54.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-90.05894809999995, 35.23113470000005]},
        "type": "Feature",
        "properties": {
            "date": "2020-01-27T11:22:48.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-90.03740999999997, 35.108825000000024]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-21T16:48:50.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-90.04924999999997, 35.14976000000007]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-25T09:45:00.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }, {
        "geometry": {"type": "Point", "coordinates": [-90.04924999999997, 35.14976000000007]},
        "type": "Feature",
        "properties": {
            "date": "2020-02-21T16:44:52.000",
            "userTag": "OPEN_311",
            "marker": 2112,
            "x": 0,
            "y": 1,
            "z": 2,
            "lastx": 0,
            "lasty": 0,
            "lastz": 0,
            "active": true
        }
    }
    ];

<!--    <% for (let x = 0; x< case_locations.length; x++) {%>-->
<!--        console.log(`xxxxxxxxxxxxxxxxxxxxxxxxxxxx ${case_locations[x]}`);-->
<!--    <% } %>-->
    cases.forEach((t) =>
    {
        // console.log(t);
        // console.log(`********** ${t.geometry.coordinates} *************`);
        // //Color of the marker
        // var col = {
        //     color: '#FC0FC0'
        // };
        // var col2 = {
        //     color: '#FC0FC0'
        // };
        let marker = new mapboxgl.Marker()
            .setLngLat(t.geometry.coordinates)
            .addTo(map);
    })

</script>