<% layout('layout') -%>
<!--THIS REPLACES THE PUG GOOGLE MAPS IMPLEMENTATION-->
<!-- FIXME: CSS STILL BROKEN, MAP DOES NOT USE FULL VERTICAL DISPLAY AREA-->
<h1>Closed Pothole Cases</h1>

<!--// filter hits by age-->
<%- partial('filterbar') %>
<!--// main map body-->
<%- partial('hitmap') %>
<div class="text-center">
<a id='open311url' target="_blank" href="https://open311.memphistn.gov/#!/view-data">Pothole Maintenance Data Provided via Memphis Open 311</a>
</div>
<script>
    /************************************************************************
     * This still doesnt really make sense why i had to do all this extra JSON.
     * TODO: Review if all this mess necessary
     *
     * @type {string}
     **********************************************************************************************************/
    let case_locations = '<%-JSON.stringify(case_locations)%>';
    console.log(`CASES ${case_locations}`);
    // case_locations.forEach((t) =>
    case_locations = JSON.parse(case_locations);
    for (let x=0;x<case_locations.length;x++) // forEach didnt work. Revisit
    {
        let t = case_locations[x];
        console.log(Object.keys(t));
        console.log(`coords ${t.geometry.coordinates}`)
        let marker = new mapboxgl.Marker({color: '#1e5470'})
            .setLngLat(t.geometry.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                .setText(
                    `
                Close Date: ${t.properties.date}
                ${t.properties.incident_id} / ${t.properties.incident_number}
                ${t.properties.address1}, ${t.properties.postal_code}
            `))
            // .setHTML(`<p>${t.properties.incident_id}/${t.properties.incident_number}</p><p>${t.properties.date}</p><p>${t.properties.address1}, ${t.properties.postal_code}</p>`))
            .addTo(map);
    };
</script>
