<!-- This needs to replace copied code in all the templates -->
<!--// Aged hits filter control-->
<div>
    <label for="select_time">Sort reports by the last: </label>

    <select id="select_time">
        <option>pick a time</option>
        <option value="/dtp">all time</option>
        <option value="/dtp/1">day</option>
        <option value="/dtp/7">7 days</option>
        <option value="/dtp/30">month (30 days)</option>
        <option value="/dtp/60">2 months</option>
        <option value="/dtp/90">3 months</option>
        <option value="/dtp/180">6 months</option>
        <option value="/dtp/270">9 months</option>
        <option value="/dtp/365">year</option>
    </select>
</div>
