<% layout('layout') -%>
<!--THIS REPLACES THE PUG GOOGLE MAPS IMPLEMENTATION-->
<!-- FIXME: CSS STILL BROKEN, MAP DOES NOT USE FULL VERTICAL DISPLAY AREA-->

<h1 class="dtp-title">All Pothole Hits</h1>
<!--// filter hits by age-->
<%- partial('filterbar',{ctxroot: ctxroot}) %>
<!--// main map body-->
<%- partial('hitmap') %>

