<!DOCTYPE html>
<!--THIS REPLACES THE PUG GOOGLE MAPS IMPLEMENTATION-->
<!--FIXME: CSS STILL BROKEN, MAP DOES NOT USE FULL VERTICAL DISPLAY AREA-->
<head>
<!--    FIXME: Title often breaks
        this condional seems to work but still not why sometimes undefined KEY-->

    <meta charset='utf-8'/>
    <!--    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>-->
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet'/>
    <!--    <link href='/stylesheets/css/bootstrap.css' rel='stylesheet'/>-->
    <link href='https://api.mapbox.com/mapbox-assembly/v0.23.2/assembly.min.css' rel='stylesheet'>
    <script async defer src='https://api.mapbox.com/mapbox-assembly/v0.23.2/assembly.js'></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href='/stylesheets/style.css' rel='stylesheet'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4351854-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag()
        {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-4351854-3');
    </script>
</head>


<body>
    <section class="container">
        <%- partial ('topnav') %>
        <%- body -%>
        <%- partial ('footer') %>
    </section>

</body>


