doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //added bootstrap to build nav bar on the layout page
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')

  body
    block nav
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='#') DTP
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon

            .collapse.navbar-collapse(id='navbarSupportedContent')
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link(href='#') Contact
                    li.nav-item
                        a.nav-link(href='#') About
                ul.navbar-nav.float-right
                    li.nav-item
                        a.nav-link(href='#') Login

    block content

    script(type='text/javascript' src='/js/bootstrap.js')
