<% layout('layout') -%>
<!--THIS REPLACES THE PUG GOOGLE MAPS IMPLEMENTATION-->
<!-- FIXME: CSS STILL BROKEN, MAP DOES NOT USE FULL VERTICAL DISPLAY AREA-->
<h1>Open Pothole Reports</h1>
<div id='map'></div>
<!--The entire content of this section comes from MapBox javascript-->
<!--TODO: Can I pull this out into separate file?-->
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoia3lhbmN5IiwiYSI6ImNqeDRuaGI2ZDBiank0NGtqZTRrb2VoaGQifQ.j1Ap9ucUmQy0_7FGOh8fVA';
    const map = new mapboxgl.Map({
        container: 'map',
        // TODO: Make it so we can flip between styles on the fly from main page
        // style: 'mapbox://styles/mapbox/dark-v10',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-89.9517577, 35.1480818], // FIXME: starting position should be based on user/browser location
        zoom: 9
    });

    //************************************************************************************
    //Added the option for the user to select the gps button in top right hand corner to zoom to current location.
    map.addControl(
        new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: false
        })
    );

    /*************************************************************************************************
     * FIXME: ALL THIS MAY CODE IS DUPED IN INDEX, OPEN, ENDED MAP VIEWS. MOVE TO TEMPLATE AND INCLUDE IT
     * **********************************************************************************************/
    map.on('load', function ()
    {
        map.addSource("potholes", {
            type: "geojson",
            data: {"type": "FeatureCollection", "features": [<%- pot_holes %>]},
            cluster: true,
            clusterMaxZoom: 14, // Max zoom to cluster points on
            clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
        });

        // Add highest level grouping (red)
        map.addLayer({
            id: "clusters",
            type: "circle",
            source: "potholes",
            filter: ["has", "point_count"],
            paint: {
                // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                // with three steps to implement three types of circles:
                //   * Blue, 20px circles when point count is less than 100
                //   * Yellow, 30px circles when point count is between 100 and 750
                //   * Pink, 40px circles when point count is greater than or equal to 750
                // TODO: Implement additional steps
                "circle-color": [
                    "step",
                    ["get", "point_count"],
                    "#2857f1",
                    100,
                    "#d6d22c",
                    500,
                    "#f28cb1"
                ],
                // 'circle-radius': [{
                //     'base': 1.75,
                //     'stops': [[12, 2], [22, 180]]
                // }
                // FIXME: Old version that works
                "circle-radius": [
                    "step",
                    ["get", "point_count"],
                    20,
                    100,
                    30,
                    500,
                    40
                ]
            }
        });

        //
        // TODO: Fix Blue circle scale
        map.addLayer({
            id: "cluster-count",
            type: "symbol",
            source: "potholes",
            filter: ["has", "point_count"],
            layout: {
                "text-field": "{point_count_abbreviated}", // The count of hits in the group circle
                "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
                "text-size": 12 // Text font for all numbers on cluster circles
            }
        });

        // The individual hit icon
        map.addLayer({
            id: "unclustered-point",
            type: "circle",
            source: "potholes",
            filter: ["!", ["has", "point_count"]],
            // FIXME Playing with colors. Clean this up
            paint: {
                // "circle-color": "#da1039",
                "circle-color": [
                    'match',
                    ['get', 'marker'],
                    0, '#dc143c',
                    60, '#dee12e',
                    240, '#1945ff',
                    /* other */ '#ccc'
                ],
                "circle-radius": 6
                // ,
                // "circle-stroke-width": .5,
                // "circle-stroke-color": "#fff"
            }
        });

        // inspect a cluster on click
        map.on('click', 'clusters', function (e)
        {
            const features = map.queryRenderedFeatures(e.point, {layers: ['clusters']});
            const clusterId = features[0].properties.cluster_id;
            map.getSource('potholes').getClusterExpansionZoom(clusterId, function (err, zoom)
            {
                if (err)
                {
                    return;
                }

                map.easeTo({
                    center: features[0].geometry.coordinates,
                    zoom: zoom
                });
            });
        });
        // Create a popup, but don't add it to the map yet.
        let popup = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });

        map.on('mouseenter', 'unclustered-point', function (e)
        {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            console.log(`
            Feature 0:
            ${e.features[0].properties.date}
            ${e.features[0].geometry.coordinates.slice()}
            `)
            const coordinates = e.features[0].geometry.coordinates.slice();
            const description = e.features[0].properties.date;
            const user = e.features[0].properties.userTag;
            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180)
            {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            // Populate the popup and set its coordinates
            // based on the feature found.
            //
            popup.setLngLat(coordinates)
                .setText(
                    `${description}
                     ${coordinates}
                     ${e.features[0].properties.x} ${e.features[0].properties.y} ${e.features[0].properties.z}
                     ${e.features[0].properties.lastx} ${e.features[0].properties.lasty} ${e.features[0].properties.lastz}
                     ${user}
                `)
                .addTo(map);
        });

        map.on('mouseleave', 'unclustered-point', function ()
        {
            map.getCanvas().style.cursor = '';
            popup.remove();
        });
        map.resize();
    });

    let cases = [{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-06T15:30:34.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.95058899999998,35.092662000000075]},"type":"Feature","properties":{"date":"2020-03-04T14:03:17.000","userTag":"ANGELA.HUMPHREY","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.72803944699996,35.19753300900004]},"type":"Feature","properties":{"date":"2020-03-05T12:48:15.000","userTag":"NADINE.SMITH","marker":2112,"active":true}}];

    <!--let cases = '<%- JSON.stringify(case_locations) %>';-->
    // console.log(`CASES ${cases}`);
    cases.forEach((t) =>
    {
         // console.log(t);
        // console.log(`********** ${t.geometry.coordinates} *************`);
        // //Color of the marker
        // var col = {
        //     color: '#FC0FC0'
        // };
        // var col2 = {
        //     color: '#FC0FC0'
        // };
        let marker = new mapboxgl.Marker()
            .setLngLat(t.geometry.coordinates)
            .addTo(map);
    })

    // let cases = [{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-06T15:30:34.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.95058899999998,35.092662000000075]},"type":"Feature","properties":{"date":"2020-03-04T14:03:17.000","userTag":"ANGELA.HUMPHREY","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.72803944699996,35.19753300900004]},"type":"Feature","properties":{"date":"2020-03-06T23:39:27.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.91044899999997,35.121597000000065]},"type":"Feature","properties":{"date":"2020-03-03T16:42:53.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.72803944699996,35.19753300900004]},"type":"Feature","properties":{"date":"2020-03-06T08:16:58.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04860799999994,35.03923800000007]},"type":"Feature","properties":{"date":"2020-03-02T12:56:04.000","userTag":"ANGELA.HUMPHREY","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.93105899999995,35.088621000000046]},"type":"Feature","properties":{"date":"2020-03-05T14:09:05.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.91844999999995,35.06955900000003]},"type":"Feature","properties":{"date":"2020-03-05T13:18:20.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.95858999999996,35.003607000000045]},"type":"Feature","properties":{"date":"2020-03-02T13:47:10.000","userTag":"HELEN.ANDERSON","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.91674899999998,35.17494000000005]},"type":"Feature","properties":{"date":"2020-03-06T15:03:31.000","userTag":"TAMMIKO.MOORE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.77161949999999,35.194146000000046]},"type":"Feature","properties":{"date":"2020-03-07T16:30:49.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.93120499999999,35.03783500000003]},"type":"Feature","properties":{"date":"2020-03-04T12:37:55.000","userTag":"TAMMIKO.MOORE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.98879849999997,35.066580000000044]},"type":"Feature","properties":{"date":"2020-02-26T10:06:34.000","userTag":"HELEN.ANDERSON","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.10834999999997,35.00268900000003]},"type":"Feature","properties":{"date":"2020-03-02T16:06:48.000","userTag":"JOSE.VALENTIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.96460199999996,35.08421100000004]},"type":"Feature","properties":{"date":"2020-03-05T12:39:22.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.78236358999999,35.21875106400006]},"type":"Feature","properties":{"date":"2020-03-06T07:57:23.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-03T11:30:00.000","userTag":"GIS","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.98719199999994,35.08553400000005]},"type":"Feature","properties":{"date":"2020-03-03T14:07:06.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.72803944699996,35.19753300900004]},"type":"Feature","properties":{"date":"2020-03-04T13:30:24.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.91153799999995,35.09310300000004]},"type":"Feature","properties":{"date":"2020-03-04T15:04:34.000","userTag":"TAMMIKO.MOORE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.92745899999994,35.153268000000025]},"type":"Feature","properties":{"date":"2020-03-06T10:26:38.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.97084799999999,35.05270200000007]},"type":"Feature","properties":{"date":"2020-03-02T08:58:55.000","userTag":"NADINE.SMITH","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-06T10:48:29.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01452949999998,35.14147800000006]},"type":"Feature","properties":{"date":"2020-03-04T09:48:06.000","userTag":"ANGELA.HUMPHREY","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.85109499999999,35.07857000000007]},"type":"Feature","properties":{"date":"2020-03-06T10:36:40.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.92200049999997,35.16332100000005]},"type":"Feature","properties":{"date":"2020-03-04T16:20:32.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.06969949999996,35.048058000000026]},"type":"Feature","properties":{"date":"2020-03-03T13:20:28.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04314949999997,35.04195600000003]},"type":"Feature","properties":{"date":"2020-03-03T09:19:14.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.12161689999994,35.06168820000005]},"type":"Feature","properties":{"date":"2020-03-03T10:14:20.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.80118975599999,35.13927920000003]},"type":"Feature","properties":{"date":"2020-03-04T21:31:40.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.86804099999995,35.032560000000046]},"type":"Feature","properties":{"date":"2020-03-06T14:37:52.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.95299199999994,35.11867200000007]},"type":"Feature","properties":{"date":"2020-03-04T09:42:30.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.98589149999998,35.16207900000006]},"type":"Feature","properties":{"date":"2020-03-05T14:47:40.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.93120499999999,35.03783500000003]},"type":"Feature","properties":{"date":"2020-03-05T15:44:59.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.93847949999997,35.201850000000036]},"type":"Feature","properties":{"date":"2020-03-05T22:31:31.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-04T14:35:17.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.05894809999995,35.23113470000005]},"type":"Feature","properties":{"date":"2020-03-03T11:52:34.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.80964899999998,35.16141300000004]},"type":"Feature","properties":{"date":"2020-03-06T15:08:23.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.84902799499997,35.191127952000045]},"type":"Feature","properties":{"date":"2020-03-07T09:33:24.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01137999999997,35.03192000000007]},"type":"Feature","properties":{"date":"2020-03-04T09:05:03.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.97259849999995,35.22049800000008]},"type":"Feature","properties":{"date":"2020-03-02T10:50:30.000","userTag":"HELEN.ANDERSON","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.72803944699996,35.19753300900004]},"type":"Feature","properties":{"date":"2020-03-05T11:18:42.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.99831149999994,35.15394300000003]},"type":"Feature","properties":{"date":"2020-03-05T18:00:30.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.12161689999994,35.06168820000005]},"type":"Feature","properties":{"date":"2020-03-03T10:04:24.000","userTag":"NADINE.SMITH","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.08391949999998,35.05596000000003]},"type":"Feature","properties":{"date":"2020-02-26T15:40:23.000","userTag":"HELEN.ANDERSON","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.08444149999997,35.03383800000006]},"type":"Feature","properties":{"date":"2020-03-06T13:33:01.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.99995849999999,35.09994300000005]},"type":"Feature","properties":{"date":"2020-03-06T09:27:07.000","userTag":"ANGELA.HUMPHREY","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-05T15:17:48.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.85872999999998,35.17852000000005]},"type":"Feature","properties":{"date":"2020-03-06T16:12:16.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.76710149999997,35.18996100000004]},"type":"Feature","properties":{"date":"2020-03-06T10:15:45.000","userTag":"NADINE.SMITH","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.81800099999998,35.200968000000046]},"type":"Feature","properties":{"date":"2020-03-02T10:01:21.000","userTag":"ANGELA.HUMPHREY","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.85883849999999,35.098854000000074]},"type":"Feature","properties":{"date":"2020-03-07T21:30:07.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01461949999998,35.04100200000005]},"type":"Feature","properties":{"date":"2020-03-06T14:11:33.000","userTag":"NADINE.SMITH","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-06T10:26:37.000","userTag":"ANGELA.HUMPHREY","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.05669899999998,35.044602000000054]},"type":"Feature","properties":{"date":"2020-03-02T11:15:51.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.84234149999997,35.07772200000005]},"type":"Feature","properties":{"date":"2020-03-06T23:42:44.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01137999999997,35.03192000000007]},"type":"Feature","properties":{"date":"2020-03-06T15:01:57.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.85923789999998,35.05956720000006]},"type":"Feature","properties":{"date":"2020-03-05T08:44:37.000","userTag":"TAMMIKO.MOORE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.76491899999996,35.19636000000003]},"type":"Feature","properties":{"date":"2020-03-07T16:33:07.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-06T10:18:31.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.77386049999996,35.17476000000005]},"type":"Feature","properties":{"date":"2020-03-06T23:40:35.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.12161689999994,35.06168820000005]},"type":"Feature","properties":{"date":"2020-03-03T15:26:55.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01600099999996,35.208717000000036]},"type":"Feature","properties":{"date":"2020-03-06T13:57:00.000","userTag":"JOSE.VALENTIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.91075149999995,35.01216900000003]},"type":"Feature","properties":{"date":"2020-03-06T08:13:02.000","userTag":"JOSE.VALENTIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01137999999997,35.03192000000007]},"type":"Feature","properties":{"date":"2020-03-04T16:03:06.000","userTag":"ANTHONY.JONES","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.90719999999999,35.08635300000003]},"type":"Feature","properties":{"date":"2020-03-06T09:41:09.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04314949999997,35.04195600000003]},"type":"Feature","properties":{"date":"2020-03-03T10:42:52.000","userTag":"TAMMIKO.MOORE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.99754199999995,35.16942300000005]},"type":"Feature","properties":{"date":"2020-03-05T14:13:40.000","userTag":"NADINE.SMITH","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.98791999999999,35.06804000000005]},"type":"Feature","properties":{"date":"2020-03-03T15:44:29.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.030761,35.11842900000005]},"type":"Feature","properties":{"date":"2020-03-05T09:12:11.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.77075999999994,35.178540000000055]},"type":"Feature","properties":{"date":"2020-03-05T09:56:15.000","userTag":"NADINE.SMITH","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.03248899999994,35.16221400000006]},"type":"Feature","properties":{"date":"2020-03-05T15:57:53.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.91944499999994,35.22458500000005]},"type":"Feature","properties":{"date":"2020-03-03T14:56:06.000","userTag":"ANGELA.HUMPHREY","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.91210049999995,35.124180000000024]},"type":"Feature","properties":{"date":"2020-03-06T12:36:17.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-05T07:30:37.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.76440149999996,35.19824100000005]},"type":"Feature","properties":{"date":"2020-03-07T16:34:32.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.90976949999998,35.06930700000004]},"type":"Feature","properties":{"date":"2020-03-03T08:39:21.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.83848049999995,35.07730800000007]},"type":"Feature","properties":{"date":"2020-03-06T23:44:42.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-06T14:58:12.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-05T10:35:28.000","userTag":"LOVEETA.ROGERS","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-05T07:41:11.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[0,0]},"type":"Feature","properties":{"date":"2020-03-07T08:33:43.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-07T21:42:36.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.00885049999995,35.01759300000003]},"type":"Feature","properties":{"date":"2020-03-05T13:00:00.000","userTag":"GIS","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.93120499999999,35.03783500000003]},"type":"Feature","properties":{"date":"2020-03-03T09:28:36.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-05T10:02:35.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.12161689999994,35.06168820000005]},"type":"Feature","properties":{"date":"2020-03-04T10:50:09.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.09963799999997,35.03207400000008]},"type":"Feature","properties":{"date":"2020-03-03T10:00:58.000","userTag":"NADINE.SMITH","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-05T01:00:00.000","userTag":"GIS","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-02-29T21:42:08.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.00389149999995,35.20380300000005]},"type":"Feature","properties":{"date":"2020-03-04T21:33:49.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[0,0]},"type":"Feature","properties":{"date":"2020-03-06T16:27:24.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-02-25T16:02:32.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.86218199999996,35.07198000000005]},"type":"Feature","properties":{"date":"2020-03-07T12:04:03.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.98725049999996,35.09928600000006]},"type":"Feature","properties":{"date":"2020-03-05T09:10:21.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.90342899999996,35.09481300000005]},"type":"Feature","properties":{"date":"2020-02-25T15:48:12.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.93226049999998,35.10747600000008]},"type":"Feature","properties":{"date":"2020-03-05T09:36:45.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.78655949999995,35.19014100000004]},"type":"Feature","properties":{"date":"2020-03-04T09:10:19.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.06293149999999,35.093436000000054]},"type":"Feature","properties":{"date":"2020-03-06T15:54:24.000","userTag":"TAMMIKO.MOORE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.72803944699996,35.19753300900004]},"type":"Feature","properties":{"date":"2020-03-04T21:33:28.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.92277899999999,35.17359000000005]},"type":"Feature","properties":{"date":"2019-11-06T18:30:00.000","userTag":"GIS","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.77521949999993,35.19032100000004]},"type":"Feature","properties":{"date":"2020-03-07T16:27:41.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.00247849999994,35.23088400000006]},"type":"Feature","properties":{"date":"2020-03-05T09:00:00.000","userTag":"GIS","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-01T19:18:27.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.84447899999998,35.04023700000005]},"type":"Feature","properties":{"date":"2020-03-05T10:43:38.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.78565949999995,35.18942100000004]},"type":"Feature","properties":{"date":"2020-03-04T21:32:27.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.98407799999995,35.13982200000004]},"type":"Feature","properties":{"date":"2020-03-02T15:43:53.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.12161689999994,35.06168820000005]},"type":"Feature","properties":{"date":"2020-03-06T15:44:37.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01686049999995,35.002320000000054]},"type":"Feature","properties":{"date":"2020-03-02T23:26:50.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01196899999998,35.219013000000075]},"type":"Feature","properties":{"date":"2020-03-04T15:19:55.000","userTag":"JOSE.VALENTIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.78035849999998,35.179647000000045]},"type":"Feature","properties":{"date":"2020-03-04T21:34:02.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01137999999997,35.03192000000007]},"type":"Feature","properties":{"date":"2020-03-03T10:18:04.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.97628849999995,35.07608400000004]},"type":"Feature","properties":{"date":"2020-02-26T16:18:15.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.92410199999995,35.22505200000006]},"type":"Feature","properties":{"date":"2020-03-05T21:09:32.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.97270199999997,35.21886000000006]},"type":"Feature","properties":{"date":"2020-03-02T10:54:17.000","userTag":"HELEN.ANDERSON","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.02742199999994,35.02202100000005]},"type":"Feature","properties":{"date":"2020-03-03T12:29:18.000","userTag":"ANGELA.HUMPHREY","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.78236358999999,35.21875106400006]},"type":"Feature","properties":{"date":"2020-02-24T16:29:00.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.12161689999994,35.06168820000005]},"type":"Feature","properties":{"date":"2020-03-05T15:50:08.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.82069199999995,35.04922800000003]},"type":"Feature","properties":{"date":"2020-03-06T10:32:49.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.03635899999995,35.03930100000008]},"type":"Feature","properties":{"date":"2020-03-03T13:33:25.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.90539999999999,35.07604800000007]},"type":"Feature","properties":{"date":"2020-03-05T17:08:38.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.01268899999997,35.01164400000005]},"type":"Feature","properties":{"date":"2020-03-04T11:18:19.000","userTag":"JOSE.VALENTIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.90682499999997,35.11124500000005]},"type":"Feature","properties":{"date":"2020-03-05T09:12:06.000","userTag":"LOVEETA.ROGERS","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.99604799999997,35.20653000000004]},"type":"Feature","properties":{"date":"2020-03-02T14:53:23.000","userTag":"CHRISTINA.MCENTYRE","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.72803944699996,35.19753300900004]},"type":"Feature","properties":{"date":"2020-03-03T10:51:35.000","userTag":"NADINE.SMITH","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.06237799999997,35.05584300000004]},"type":"Feature","properties":{"date":"2020-03-03T14:32:01.000","userTag":"NADINE.SMITH","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.83784149999997,35.07689400000004]},"type":"Feature","properties":{"date":"2020-03-06T23:41:46.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.04924999999997,35.14976000000007]},"type":"Feature","properties":{"date":"2020-03-05T09:38:06.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.91907999999995,35.16207500000008]},"type":"Feature","properties":{"date":"2020-03-05T08:46:59.000","userTag":"CAROLYN.FRANKLIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-89.93374099999994,35.14715700000005]},"type":"Feature","properties":{"date":"2020-03-04T18:34:58.000","userTag":"SCF","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.05377849999996,35.11672800000008]},"type":"Feature","properties":{"date":"2020-02-28T08:22:20.000","userTag":"JOSE.VALENTIN","marker":2112,"active":true}},{"geometry":{"type":"Point","coordinates":[-90.00372949999996,35.23911900000007]},"type":"Feature","properties":{"date":"2020-03-05T12:48:15.000","userTag":"NADINE.SMITH","marker":2112,"active":true}}];
</script>
