<% layout('layout') -%>

<script type="application/javascript">
    let myObj = {
        propA: [<%- pot_holes %>],
        propB: true
    }

    console.log(myObj);
</script>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur cum dolores eos ipsam, magni, modi nemo numquam odio quo repellendus similique tempora, voluptas. Eum fugit perferendis reiciendis. Facere, voluptatum.</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur cum dolores eos ipsam, magni, modi nemo numquam odio quo repellendus similique tempora, voluptas. Eum fugit perferendis reiciendis. Facere, voluptatum.</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur cum dolores eos ipsam, magni, modi nemo numquam odio quo repellendus similique tempora, voluptas. Eum fugit perferendis reiciendis. Facere, voluptatum.</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur cum dolores eos ipsam, magni, modi nemo numquam odio quo repellendus similique tempora, voluptas. Eum fugit perferendis reiciendis. Facere, voluptatum.</div>

