<!--Statistics on Percentage of Cases Closed out of Open Over Time Period-->
<% layout('layout') -%>
<h1>
    Statistics
    &nbsp;&nbsp;&nbsp;&nbsp;
</h1>
<!-- element with id attribute, reference to it in javascript, . enter html =  -->
<h3>Total Open Pothole Repair Requests</h3>
<p style="color:#EA3804";><%= nOpenPotholes %></p> 
<!-- <h3>Percentage of Closed Pothole Repair Requests out of Total Open Repair Requests</h3> -->


