body {
    margin: 0;
    padding: 0;
    background-color: #547EA3;
}

h1, h3{
    color: white;
}

#map {
    /*position: absolute;*/
    /*top: 60px;*/
    /*bottom: 0;*/
    /*width: 49%;*/
    /*height: 100%;*/
    display: block;
    position: relative;
    margin: 0px auto;
    width: 100%;
    height: 800px;
    /*padding: 10px;*/
    border: 4px;
    /* border-radius: 3px; */
    font-size: 12px;
    /*text-align: center;*/
    color: #fff;
    /*background: #ee8a65;*/
    /* border: 2px solid #00478F; */
}

.dtp-nav{
    margin: 1% 0 1% 0;
    padding: 1%;
    /* background-color: #376996; */
    background-color: #547EA3;
}
.container {
    font-size: larger;
    display: grid;
    grid-template-columns: 100%;
    /* grid-gap: 1rem; */
}

/* a {
    color: white;
} */

a:hover{
    color: white;
}

.nav-link:hover{
    color: #1D3461;
}

.nav-link{
    color: white;
}

.navbar-brand{
    color: #1D3461;
    font-size: larger;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
    color: #000000;
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}